<html>
  <head>
  <title>The Urban Urban Dictionary</title>
  </head>
  <body>
    <h1>Thank you for your contribution!</h1>
    <form method="POST" action="/save">
      <input name = "word">
      <button type="submit">ADD</button>
    </form>
  </body>
</html>
